.manual-position {
  position: absolute;

  bottom: 30%;
}
.manual-overlay {
  background-color: rgba(black, 0.4);
  filter: brightness(0.4);
}
.slider-clr {
  background-color: rgb(4, 121, 199);
}
.manual-clr {
  background-color: rgba(147, 201, 201, 0.466);
}
.btn-manual-clr {
  background-color: rgb(44, 205, 245);
}
@media (min-width: 1025px) {
  .h-custom {
    height: 100vh !important;
  }
}

<ul
            class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0"
          >
            <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">Courses</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">Deals</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">Success</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">About</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">Register</a></li>
